input[type=text], select {
          width: 25%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }
  
  .autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
  .autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
  .autocomplete-selected { background: #f0f0f0; }
  .autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
  
  input[type=submit] {
      width: 25%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
      
      button {
          display: inline-block;
          height: 30px;
          padding: 0;
          margin: 0;
          vertical-align: top;
          width: 30px;
      }
  
  #export-image img {
      display: block;
      height: 30px;
      width: 30px;
  }
    
    table {
          width:100%;
      }

  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      empty-cells: show;
  }

  th, td {
      padding: 5px;
      text-align: left;
  }

  table#results tr:nth-child(even) {
      background-color: #eee;
  }

  table#results tr:nth-child(odd) {
      background-color:#fff;
  }
  
  table#results th {
      background-color: black;
      color: white;
  }